spring:
  application:
    name: gstbillingbackend
  main:
    allow-circular-references: true

  datasource:
    url: jdbc:postgresql://localhost:5432/gstbillingdb
    username: your_username
    password: your_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: your_username
    password: hgfj kdgd kdid jdty  # replace with Gmail App Password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

servlet:
  multipart:
    enabled: true
    max-file-size: 5MB
    max-request-size: 5MB
    file-size-threshold: 3KB

jwt:
  secret: use_key
  expiration: 86400000